@charset "UTF-8";
/* CSS generated via Sass. Please do not change css-code here! */
/* Project specific */
@keyframes slideOpenLeft {
  from {
    transform: translateX(50%) rotate(5deg); } }

@keyframes slideOpenRight {
  from {
    transform: translateX(-50%) rotate(5deg); } }

.color-list {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  background-image: linear-gradient(180deg, #e4007e 0%, #e4007e 14.28571%, #ff8800 14.28571%, #ff8800 28.57143%, #F7b700 28.57143%, #F7b700 42.85714%, #0ea300 42.85714%, #0ea300 57.14286%, #0088b9 57.14286%, #0088b9 71.42857%, #1448a8 71.42857%, #1448a8 85.71429%, #860070 85.71429%, #860070 100%);
  color: #fff;
  line-height: 2.5;
  padding: 0 1em; }
  .color-list::after {
    width: 5em;
    display: block;
    content: "#e4007e #ff8800 #F7b700 #0ea300 #0088b9 #1448a8 #860070";
    text-transform: uppercase; }
  .color-list::before {
    width: 4em;
    display: block;
    content: "pink orange yellow green cyan blue violet"; }

@keyframes slide-dragger-ani-2 {
  0% {
    margin-left: 0%; }
  40% {
    margin-left: 0%; }
  50% {
    margin-left: -100%; }
  90% {
    margin-left: -100%; } }

@keyframes slide-dragger-ani-3 {
  0% {
    margin-left: 0%; }
  26.66667% {
    margin-left: 0%; }
  33.33333% {
    margin-left: -100%; }
  60% {
    margin-left: -100%; }
  66.66667% {
    margin-left: -200%; }
  93.33333% {
    margin-left: -200%; } }

@keyframes slide-dragger-ani-4 {
  0% {
    margin-left: 0%; }
  20% {
    margin-left: 0%; }
  25% {
    margin-left: -100%; }
  45% {
    margin-left: -100%; }
  50% {
    margin-left: -200%; }
  70% {
    margin-left: -200%; }
  75% {
    margin-left: -300%; }
  95% {
    margin-left: -300%; } }

@keyframes slide-dragger-ani-5 {
  0% {
    margin-left: 0%; }
  16% {
    margin-left: 0%; }
  20% {
    margin-left: -100%; }
  36% {
    margin-left: -100%; }
  40% {
    margin-left: -200%; }
  56% {
    margin-left: -200%; }
  60% {
    margin-left: -300%; }
  76% {
    margin-left: -300%; }
  80% {
    margin-left: -400%; }
  96% {
    margin-left: -400%; } }

@keyframes slide-dragger-ani-6 {
  0% {
    margin-left: 0%; }
  13.33333% {
    margin-left: 0%; }
  16.66667% {
    margin-left: -100%; }
  30% {
    margin-left: -100%; }
  33.33333% {
    margin-left: -200%; }
  46.66667% {
    margin-left: -200%; }
  50% {
    margin-left: -300%; }
  63.33333% {
    margin-left: -300%; }
  66.66667% {
    margin-left: -400%; }
  80% {
    margin-left: -400%; }
  83.33333% {
    margin-left: -500%; }
  96.66667% {
    margin-left: -500%; } }

@keyframes slide-dragger-ani-7 {
  0% {
    margin-left: 0%; }
  11.42857% {
    margin-left: 0%; }
  14.28571% {
    margin-left: -100%; }
  25.71429% {
    margin-left: -100%; }
  28.57143% {
    margin-left: -200%; }
  40% {
    margin-left: -200%; }
  42.85714% {
    margin-left: -300%; }
  54.28571% {
    margin-left: -300%; }
  57.14286% {
    margin-left: -400%; }
  68.57143% {
    margin-left: -400%; }
  71.42857% {
    margin-left: -500%; }
  82.85714% {
    margin-left: -500%; }
  85.71429% {
    margin-left: -600%; }
  97.14286% {
    margin-left: -600%; } }

@keyframes slide-dragger-ani-8 {
  0% {
    margin-left: 0%; }
  10% {
    margin-left: 0%; }
  12.5% {
    margin-left: -100%; }
  22.5% {
    margin-left: -100%; }
  25% {
    margin-left: -200%; }
  35% {
    margin-left: -200%; }
  37.5% {
    margin-left: -300%; }
  47.5% {
    margin-left: -300%; }
  50% {
    margin-left: -400%; }
  60% {
    margin-left: -400%; }
  62.5% {
    margin-left: -500%; }
  72.5% {
    margin-left: -500%; }
  75% {
    margin-left: -600%; }
  85% {
    margin-left: -600%; }
  87.5% {
    margin-left: -700%; }
  97.5% {
    margin-left: -700%; } }

@keyframes slide-dragger-ani-9 {
  0% {
    margin-left: 0%; }
  8.88889% {
    margin-left: 0%; }
  11.11111% {
    margin-left: -100%; }
  20% {
    margin-left: -100%; }
  22.22222% {
    margin-left: -200%; }
  31.11111% {
    margin-left: -200%; }
  33.33333% {
    margin-left: -300%; }
  42.22222% {
    margin-left: -300%; }
  44.44444% {
    margin-left: -400%; }
  53.33333% {
    margin-left: -400%; }
  55.55556% {
    margin-left: -500%; }
  64.44444% {
    margin-left: -500%; }
  66.66667% {
    margin-left: -600%; }
  75.55556% {
    margin-left: -600%; }
  77.77778% {
    margin-left: -700%; }
  86.66667% {
    margin-left: -700%; }
  88.88889% {
    margin-left: -800%; }
  97.77778% {
    margin-left: -800%; } }

@keyframes slide-dragger-ani-10 {
  0% {
    margin-left: 0%; }
  8% {
    margin-left: 0%; }
  10% {
    margin-left: -100%; }
  18% {
    margin-left: -100%; }
  20% {
    margin-left: -200%; }
  28% {
    margin-left: -200%; }
  30% {
    margin-left: -300%; }
  38% {
    margin-left: -300%; }
  40% {
    margin-left: -400%; }
  48% {
    margin-left: -400%; }
  50% {
    margin-left: -500%; }
  58% {
    margin-left: -500%; }
  60% {
    margin-left: -600%; }
  68% {
    margin-left: -600%; }
  70% {
    margin-left: -700%; }
  78% {
    margin-left: -700%; }
  80% {
    margin-left: -800%; }
  88% {
    margin-left: -800%; }
  90% {
    margin-left: -900%; }
  98% {
    margin-left: -900%; } }

.glam-page {
  font-family: sans-serif;
  color: #000;
  font-size: 1rem;
  line-height: 1.7; }
  .glam-page .hidden {
    display: none !important; }
  .glam-page .c-pink {
    color: #e4007e; }
  .glam-page .bg-pink {
    background-color: #e4007e;
    color: #fff; }
  .glam-page .c-orange {
    color: #ff8800; }
  .glam-page .bg-orange {
    background-color: #ff8800;
    color: #fff; }
  .glam-page .c-yellow {
    color: #F7b700; }
  .glam-page .bg-yellow {
    background-color: #F7b700;
    color: #fff; }
  .glam-page .c-green {
    color: #0ea300; }
  .glam-page .bg-green {
    background-color: #0ea300;
    color: #fff; }
  .glam-page .c-cyan {
    color: #0088b9; }
  .glam-page .bg-cyan {
    background-color: #0088b9;
    color: #fff; }
  .glam-page .c-blue {
    color: #1448a8; }
  .glam-page .bg-blue {
    background-color: #1448a8;
    color: #fff; }
  .glam-page .c-violet {
    color: #860070; }
  .glam-page .bg-violet {
    background-color: #860070;
    color: #fff; }
  .glam-page .box {
    padding: 1em; }
  .glam-page .c-primary {
    color: #0088b9; }
  .glam-page .bg-primary {
    background-color: #0088b9;
    color: #fff; }
  .glam-page,
  .glam-page *,
  .glam-page *::before,
  .glam-page *::after {
    box-sizing: border-box; }
  .glam-page a {
    color: #0088b9; }
    .glam-page a:not(:hover) {
      text-decoration: none; }
    .glam-page a .external {
      background-image: none;
      margin-right: 0; }
      .glam-page a .external::after {
        content: ' ›'; }
  .glam-page .glam-button {
    font-family: sans-serif; }
  .glam-page .mw-ui-button,
  .glam-page .mw-ui-button.mw-ui-progressive,
  .glam-page .mw-ui-button:hover,
  .glam-page .mw-ui-button.mw-ui-progressive:hover {
    background-color: #000;
    border-color: #000;
    font-weight: 400;
    font-family: sans-serif; }
  .glam-page p {
    margin: .7em 0; }
  .glam-page h2,
  .glam-page h3,
  .glam-page h4,
  .glam-page h5 {
    font-family: "Linux Libertine", "Georgia", "Times", serif;
    color: #0088b9;
    line-height: 1.2;
    border-bottom: none;
    font-weight: normal;
    font-size: 1.25rem; }
    .glam-page h2 .section-links,
    .glam-page h3 .section-links,
    .glam-page h4 .section-links,
    .glam-page h5 .section-links {
      display: none; }
    .glam-page h2:first-child,
    .glam-page h3:first-child,
    .glam-page h4:first-child,
    .glam-page h5:first-child {
      margin-top: 0; }
  .glam-page h2 {
    font-size: 1.875rem; }
  .glam-page h3 {
    font-size: 1.5rem; }
  body.skin-vector-legacy .glam-page {
    margin-top: -2.625rem; }
  body.skin-minerva .glam-page {
    z-index: 2;
    margin-top: -5.1875rem; }
  body:not(.skin-vector-legacy) .glam-page .glam-section:not(.glam-header) {
    padding: 0 calc(.7rem + 3vw); }
  body.skin-minerva .glam-page .glam-section {
    margin-left: calc((100% - 100vw) / 2);
    margin-right: calc((100% - 100vw) / 2); }
  .glam-page .glam-section.bg-grey, .glam-page .glam-section.glam-header {
    background-color: #eaecf0; }
  .glam-page .glam-section.bg-grey {
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
    overflow: hidden; }
  .glam-page .glam-section > .inner {
    margin: 3.125rem auto; }
    .glam-page .glam-section > .inner:not(.wide) {
      max-width: 62.08125rem; }
  .glam-page .glam-section.bg-grey + .glam-section.bg-grey {
    margin-top: -3.125rem;
    padding-top: 0; }
    .glam-page .glam-section.bg-grey + .glam-section.bg-grey > .inner {
      margin-top: 0; }
  .glam-page .glam-header > .inner {
    position: relative; }
    .glam-page .glam-header > .inner:not(.glam-navi-inner) {
      overflow: hidden; }
  .glam-page .glam-header-logo {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    z-index: 2;
    padding: 1em; }
    .glam-page .glam-header-logo > a {
      display: inline-block;
      position: relative; }
      .glam-page .glam-header-logo > a > img {
        display: block;
        width: 8.125rem;
        height: auto; }
        @media screen and (max-width: 600px) {
          .glam-page .glam-header-logo > a > img {
            width: calc(6vw + 5rem); } }
      .glam-page .glam-header-logo > a::before, .glam-page .glam-header-logo > a::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: -1;
        background-color: #0088b9;
        transform-origin: 100% 12.5%;
        top: -100%;
        right: -66%;
        bottom: -600%;
        left: -300%;
        animation-name: slideOpenLeft; }
      .glam-page .glam-header-logo > a::before {
        animation-duration: 1.2s;
        animation-delay: .4s;
        transform: rotate(45deg); }
      .glam-page .glam-header-logo > a::after {
        animation-delay: .8s;
        opacity: 0.5;
        transform: translateX(1em) rotate(39deg); }
  .glam-page .glam-header-slide-container {
    display: flex;
    width: 100%;
    background-color: #0088b9;
    font-family: "Linux Libertine", "Georgia", "Times", serif;
    overflow: hidden;
    font-size: 1.125rem;
    min-height: 12rem; }
    .glam-page .glam-header-slide-container h2,
    .glam-page .glam-header-slide-container h3,
    .glam-page .glam-header-slide-container h4,
    .glam-page .glam-header-slide-container h5,
    .glam-page .glam-header-slide-container h6 {
      font-family: "Montserrat", Arial, sans-serif;
      color: #fff;
      font-size: 1.875rem; }
    .glam-page .glam-header-slide-container,
    .glam-page .glam-header-slide-container a {
      color: #fff; }
  .glam-page .glam-header-slide {
    background-color: #0088b9;
    overflow: hidden;
    position: relative;
    flex: 0 0 100%; }
    .glam-page .glam-header-slide > .slide-image {
      display: block;
      overflow: hidden;
      position: relative; }
      .glam-page .glam-header-slide > .slide-image > a {
        display: block;
        height: calc(16rem + 26vw);
        max-height: 29.625rem;
        width: 100%; }
        .glam-page .glam-header-slide > .slide-image > a > img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          object-fit: cover;
          min-width: 100%;
          min-height: 100%;
          width: auto;
          height: auto; }
    .glam-page .glam-header-slide > .inner {
      position: relative;
      padding: 2em;
      padding-top: 0;
      z-index: 1;
      width: 100%;
      display: flex;
      flex-direction: column;
      text-align: center; }
      .glam-page .glam-header-slide > .inner::before, .glam-page .glam-header-slide > .inner::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: -1;
        background-color: #0088b9;
        animation-name: slideOpenRight;
        transform-origin: 33% 0;
        top: 0;
        left: -100%;
        bottom: -100%;
        right: -100%; }
      .glam-page .glam-header-slide > .inner::before {
        animation-duration: 1.2s;
        animation-delay: .4s;
        transform: rotate(-10deg); }
      .glam-page .glam-header-slide > .inner::after {
        animation-delay: .8s;
        opacity: 0.5;
        transform: translateY(-0.7em) rotate(-16deg); }
      @media screen and (min-width: 865px) {
        .glam-page .glam-header-slide > .inner {
          position: absolute;
          right: 0;
          top: 0;
          bottom: 0;
          max-width: 21.875rem;
          text-align: right;
          justify-content: flex-end;
          padding-top: 2em; }
          .glam-page .glam-header-slide > .inner::after, .glam-page .glam-header-slide > .inner::before {
            transform-origin: 0 20%;
            top: -100%;
            bottom: -300%;
            right: -300%;
            left: 33%; }
          .glam-page .glam-header-slide > .inner::before {
            transform: rotate(20deg); }
          .glam-page .glam-header-slide > .inner::after {
            transform: translateX(-1em) rotate(30deg); } }
      @media screen and (min-width: 640px) {
        body:not(.skin-vector-legacy) .glam-page .glam-header-slide > .inner {
          position: absolute;
          right: 0;
          top: 0;
          bottom: 0;
          max-width: 21.875rem;
          text-align: right;
          justify-content: flex-end;
          padding-top: 2em; }
          body:not(.skin-vector-legacy) .glam-page .glam-header-slide > .inner::after, body:not(.skin-vector-legacy) .glam-page .glam-header-slide > .inner::before {
            transform-origin: 0 20%;
            top: -100%;
            bottom: -300%;
            right: -300%;
            left: 33%; }
          body:not(.skin-vector-legacy) .glam-page .glam-header-slide > .inner::before {
            transform: rotate(20deg); }
          body:not(.skin-vector-legacy) .glam-page .glam-header-slide > .inner::after {
            transform: translateX(-1em) rotate(30deg); } }
  .glam-page .glam-header-text {
    max-width: 40rem;
    text-align: right;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: auto;
    width: calc(100% - 7rem); }
  .glam-page .glam-lang,
  .glam-page .glam-navi {
    position: absolute;
    top: 0;
    font-size: 1rem;
    line-height: 1.2;
    padding: .5rem 1rem; }
    .glam-page .glam-lang-anchor,
    .glam-page .glam-navi-anchor {
      position: fixed;
      top: 0; }
    .glam-page .glam-lang > a,
    .glam-page .glam-navi > a {
      display: none; }
    .glam-page .glam-lang-off,
    .glam-page .glam-navi-off {
      display: none; }
      .glam-page .glam-lang-off > a,
      .glam-page .glam-navi-off > a {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: block; }
    .glam-page .glam-lang ul,
    .glam-page .glam-lang ol,
    .glam-page .glam-lang li,
    .glam-page .glam-navi ul,
    .glam-page .glam-navi ol,
    .glam-page .glam-navi li {
      list-style-type: none;
      list-style-image: none;
      padding: 0;
      margin: 0; }
      .glam-page .glam-lang ul.active > a,
      .glam-page .glam-lang ul .glam-nav-active > a,
      .glam-page .glam-lang ol.active > a,
      .glam-page .glam-lang ol .glam-nav-active > a,
      .glam-page .glam-lang li.active > a,
      .glam-page .glam-lang li .glam-nav-active > a,
      .glam-page .glam-navi ul.active > a,
      .glam-page .glam-navi ul .glam-nav-active > a,
      .glam-page .glam-navi ol.active > a,
      .glam-page .glam-navi ol .glam-nav-active > a,
      .glam-page .glam-navi li.active > a,
      .glam-page .glam-navi li .glam-nav-active > a {
        color: currentColor; }
    .glam-page .glam-lang li,
    .glam-page .glam-navi li {
      margin-top: .5rem; }
      .glam-page .glam-lang li.label > :not(ul),
      .glam-page .glam-navi li.label > :not(ul) {
        opacity: 0.3; }
    .glam-page .glam-lang-trigger,
    .glam-page .glam-navi-trigger {
      position: absolute;
      right: 1rem;
      top: 1rem;
      z-index: 3; }
  .glam-page .glam-lang {
    background-color: #000;
    min-width: 20rem;
    padding: 2em 5%;
    right: 0;
    overflow: hidden;
    text-align: left;
    transition: max-height .6s, padding .6s;
    color: #fff;
    font-size: 1.125rem;
    max-height: 100rem; }
    .glam-page .glam-lang, .glam-page .glam-lang-trigger {
      display: block !important; }
    @media screen and (max-width: 1699px) {
      .glam-page .glam-lang-trigger {
        right: 4rem; } }
    .glam-page .glam-lang-trigger > a {
      display: block;
      padding: .5em; }
      .glam-page .glam-lang-trigger > a:nth-child(2) {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0; }
    .glam-page .glam-lang-trigger img {
      display: block;
      width: 2.5em;
      height: auto; }
    .glam-page .glam-lang-anchor:not(:target) ~ .glam-lang {
      max-height: 0;
      padding-top: 0;
      padding-bottom: 0; }
    .glam-page .glam-lang-anchor:not(:target) ~ .glam-lang-trigger > a:nth-child(2) {
      display: none; }
    .glam-page .glam-lang-anchor:target ~ .glam-navi-anchor .glam-navi-off {
      display: block; }
  .glam-page .glam-navi-inner {
    position: relative;
    z-index: 4;
    margin-top: 0;
    margin-bottom: 0; }
  .glam-page .glam-navi-trigger > a {
    padding: 1rem;
    box-sizing: content-box; }
    .glam-page .glam-navi-trigger > a:last-child {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      display: none; }
    .glam-page .glam-navi-trigger > a:first-child {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      font-size: 1.8rem;
      width: 1em;
      height: 1em;
      background-color: transparent; }
      .glam-page .glam-navi-trigger > a:first-child::before, .glam-page .glam-navi-trigger > a:first-child::after,
      .glam-page .glam-navi-trigger > a:first-child > span {
        content: '';
        display: block;
        width: 100%;
        height: .16em;
        background-color: #fff;
        box-shadow: 0 0 0.3em rgba(0, 0, 0, 0.7);
        transition: all .5s; }
  @media screen and (min-width: 1700px) {
    .glam-page .glam-navi {
      right: 100%;
      width: 25%;
      text-align: right; }
      .glam-page .glam-navi-inner .glam-navi-trigger {
        display: none; }
      .glam-page .glam-navi > a {
        display: none; }
      .glam-page .glam-navi > ul > li:not(.active) > ul {
        display: none; }
      .glam-page .glam-navi > ul > li > ul {
        position: absolute;
        top: 0;
        left: 500%;
        right: -500%;
        display: block;
        padding: .5rem 1rem;
        text-align: left; }
        .glam-page .glam-navi > ul > li > ul > li > ul {
          padding-right: 1rem; } }
  @media screen and (max-width: 660px) {
    .glam-page .glam-navi {
      left: 0; } }
  @media screen and (max-width: 1699.9px) {
    .glam-page .glam-navi {
      background-color: #000;
      min-width: 20rem;
      padding: .5rem 5%;
      right: 0;
      overflow: hidden;
      text-align: left;
      transition: max-height .6s, padding .6s;
      color: #fff;
      font-size: 1.125rem;
      max-height: 100rem; }
      .glam-page .glam-navi > ul > li {
        padding: .5em 0;
        margin: 0; }
      .glam-page .glam-navi li.label {
        display: none; }
      .glam-page .glam-navi li > * {
        display: block; }
      .glam-page .glam-navi li li > :not(ul) {
        padding-left: 1em; }
      .glam-page .glam-navi li li li > :not(ul) {
        padding-left: 2em; }
      .glam-page .glam-navi-anchor:not(:target) ~ .glam-navi {
        max-height: 0;
        padding-top: 0;
        padding-bottom: 0; }
      .glam-page .glam-navi-anchor:target ~ .glam-navi {
        padding-top: 2em;
        padding-bottom: 2em; }
      .glam-page .glam-navi-anchor:target ~ .glam-navi-trigger > a:last-child {
        display: block; }
      .glam-page .glam-navi-anchor:target ~ .glam-navi-trigger > a:first-child::before {
        transform: translateY(0.42em) rotate(45deg); }
      .glam-page .glam-navi-anchor:target ~ .glam-navi-trigger > a:first-child > span {
        transform: rotate(45deg); }
      .glam-page .glam-navi-anchor:target ~ .glam-navi-trigger > a:first-child::after {
        transform: translateY(-0.42em) rotate(-45deg);
        box-shadow: none; }
      .glam-page .glam-navi-anchor:target .glam-navi-off {
        display: block; } }
  .glam-page .glam-slide-dragger {
    order: -1;
    flex: 0 0 0;
    background-color: #0F0;
    animation-iteration-count: infinite; }
    .glam-page .glam-slide-dragger:nth-child(2) {
      animation-name: slide-dragger-ani-1;
      animation-duration: 5s; }
    .glam-page .glam-slide-dragger:nth-child(3) {
      animation-name: slide-dragger-ani-2;
      animation-duration: 10s; }
    .glam-page .glam-slide-dragger:nth-child(4) {
      animation-name: slide-dragger-ani-3;
      animation-duration: 15s; }
    .glam-page .glam-slide-dragger:nth-child(5) {
      animation-name: slide-dragger-ani-4;
      animation-duration: 20s; }
    .glam-page .glam-slide-dragger:nth-child(6) {
      animation-name: slide-dragger-ani-5;
      animation-duration: 25s; }
    .glam-page .glam-slide-dragger:nth-child(7) {
      animation-name: slide-dragger-ani-6;
      animation-duration: 30s; }
    .glam-page .glam-slide-dragger:nth-child(8) {
      animation-name: slide-dragger-ani-7;
      animation-duration: 35s; }
    .glam-page .glam-slide-dragger:nth-child(9) {
      animation-name: slide-dragger-ani-8;
      animation-duration: 40s; }
    .glam-page .glam-slide-dragger:nth-child(10) {
      animation-name: slide-dragger-ani-9;
      animation-duration: 45s; }
    .glam-page .glam-slide-dragger:nth-child(11) {
      animation-name: slide-dragger-ani-10;
      animation-duration: 50s; }
  .glam-page .toc.toc {
    border: none;
    background-color: transparent;
    display: block;
    padding: 0; }
    .glam-page .toc.toc > ul {
      margin: 0;
      padding: 0;
      font-size: 1rem;
      line-height: 1.2; }
      .glam-page .toc.toc > ul > li {
        padding: .5em 0;
        border-top: 1px solid #eaecf0;
        position: relative; }
        .glam-page .toc.toc > ul > li::before {
          content: "";
          position: absolute;
          right: calc(100% + .6em);
          top: .7em;
          display: block;
          width: .6em;
          height: .6em;
          border: 2px solid currentColor;
          opacity: 0.3;
          border-bottom: transparent;
          border-right: transparent;
          transform: rotate(225deg); }
    body:not(.skin-minerva) .glam-page .toc.toc .toctitle {
      padding: 0;
      display: flex; }
      body:not(.skin-minerva) .glam-page .toc.toc .toctitle h2 {
        font-size: 1rem;
        color: currentColor;
        font-family: sans-serif;
        font-weight: 400;
        opacity: 0.3; }
        body:not(.skin-minerva) .glam-page .toc.toc .toctitle h2::after {
          content: ':'; }
      body:not(.skin-minerva) .glam-page .toc.toc .toctitle > * {
        position: relative; }
        body:not(.skin-minerva) .glam-page .toc.toc .toctitle > *:last-child {
          margin-left: auto; }
      body:not(.skin-minerva) .glam-page .toc.toc .toctitle .toctogglespan::before, body:not(.skin-minerva) .glam-page .toc.toc .toctitle .toctogglespan::after {
        content: none; }
      body:not(.skin-minerva) .glam-page .toc.toc .toctitle .toctogglespan .toctogglelabel::after {
        content: "";
        display: block;
        border: 2px solid currentColor;
        opacity: 0.3;
        border-bottom: transparent;
        border-right: transparent;
        transform: translateY(0.5em) rotate(45deg);
        transform-origin: 33% 33%;
        transition: all .5s;
        width: 1em;
        height: 1em; }
    .glam-page .toc.toc .toctogglecheckbox:checked + .toctitle .toctogglelabel::after {
      content: "";
      transform: translateY(0.5em) rotate(-135deg); }
    .glam-page .toc.toc .tocnumber {
      display: none; }

.glam-logos {
  text-align: center; }

.glam-logo {
  display: inline-block;
  vertical-align: middle;
  margin: 1em;
  transition: all .3s ease-in-out; }
  .glam-logo:not(:hover) {
    transform: scale(0.89); }

.glam-circle {
  text-align: center;
  line-height: 1.2; }
  .glam-circle > * {
    margin: 0 auto 1em; }
  .glam-circle > .glam-circle-image {
    width: 80%; }
  .glam-circle-image {
    width: 100%;
    display: block;
    overflow: hidden;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    background-color: #eaecf0; }
    .glam-circle-image > a {
      display: block;
      padding: 100% 0 0;
      width: 100%; }
      .glam-circle-image > a > img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        object-fit: cover;
        min-height: 100%;
        height: 100%;
        width: auto; }

.glam-intro {
  font-size: 1.125rem; }

.gallery.mw-gallery-packed {
  margin-left: 0;
  margin-right: 0;
  display: flex;
  flex-wrap: wrap; }
  .gallery.mw-gallery-packed .gallerybox .gallerytext {
    line-height: 1.2;
    text-align: left; }
    .gallery.mw-gallery-packed .gallerybox .gallerytext > :first-child {
      margin-top: 0; }

.glam-infoline {
  font-size: 1rem;
  line-height: 1.1; }
  .glam-infoline > span {
    display: inline-block;
    overflow: hidden;
    padding: .4em 5em .4em .7em;
    color: #fff;
    position: relative; }
    .glam-infoline > span::before, .glam-infoline > span::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: #0088b9;
      transform-origin: 0 0;
      transform: translateX(-3em) skew(-30deg);
      z-index: -1; }
    .glam-infoline > span::after {
      transform: skew(-60deg);
      opacity: 0.5; }
  .glam-infoline + h2,
  .glam-infoline + h3 {
    margin-top: 0; }

.glam-info-table,
.glam-info-table tbody,
.glam-info-table tr,
.glam-info-table td,
.glam-info-table th {
  display: block;
  width: 100%;
  border: none; }

.glam-info-table tr {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0;
  border-top: 1px solid #eaecf0; }
  .glam-section.bg-grey .glam-info-table tr {
    border-color: #fff; }
  .glam-info-table tr > td,
  .glam-info-table tr > th {
    padding: .5em 0;
    line-height: 1.2;
    width: auto; }
    .glam-info-table tr > td:last-child:not(:first-child),
    .glam-info-table tr > th:last-child:not(:first-child) {
      font-weight: bold;
      text-align: right;
      margin-left: 1em; }
    .glam-info-table tr > td:last-child:first-child,
    .glam-info-table tr > th:last-child:first-child {
      flex: 0 0 100%; }
    .glam-info-table tr > td div.glam-logo,
    .glam-info-table tr > th div.glam-logo {
      margin: .5em auto;
      display: block;
      text-align: center; }

.glam-calendar-mini {
  line-height: 1.2;
  padding: 0;
  margin: 0; }
  .glam-calendar-mini tr {
    padding: 0; }
    .glam-calendar-mini tr td,
    .glam-calendar-mini tr th {
      padding: .5em 0;
      border-top: 1px solid #eaecf0; }
      .glam-section.bg-grey .glam-calendar-mini tr td, .glam-section.bg-grey
      .glam-calendar-mini tr th {
        border-color: #fff; }
      .glam-calendar-mini tr td:first-child,
      .glam-calendar-mini tr th:first-child {
        padding-right: 1em; }
        .glam-calendar-mini tr td:first-child br,
        .glam-calendar-mini tr th:first-child br {
          display: none; }

.glam-grid-2 {
  grid-template-columns: repeat(2, 1fr); }

.glam-grid-marginal {
  grid-template-columns: 2fr 1fr; }

.glam-grid-3 {
  grid-template-columns: repeat(3, 1fr); }

.glam-grid-4 {
  grid-template-columns: repeat(4, 1fr); }

.glam-grid-6 {
  grid-template-columns: repeat(6, 1fr); }

.glam-grid-12 {
  grid-template-columns: repeat(12, 1fr); }

.glam-grid-2,
.glam-grid-marginal,
.glam-grid-3,
.glam-grid-4,
.glam-grid-6,
.glam-grid-12 {
  display: grid;
  grid-gap: 2rem; }
  @media (max-width: 600px) {
    .glam-grid-2,
    .glam-grid-marginal,
    .glam-grid-3,
    .glam-grid-4,
    .glam-grid-6,
    .glam-grid-12 {
      grid-template-columns: 1fr; } }
  @media (max-width: 825px) {
    body.skin-vector-legacy .glam-grid-2, body.skin-vector-legacy
    .glam-grid-marginal, body.skin-vector-legacy
    .glam-grid-3, body.skin-vector-legacy
    .glam-grid-4, body.skin-vector-legacy
    .glam-grid-6, body.skin-vector-legacy
    .glam-grid-12 {
      grid-template-columns: 1fr; } }
