// Animations

@for $i from 2 through $slide-max {

  @keyframes slide-dragger-ani-#{$i} {
    @for $j from 0 through ($i - 1) {
      #{ ($j / $i) * 100% } {
        margin-left: ($j) * -100%;
      }

      #{ (($j + .8) / $i) * 100% } {
        margin-left: ($j) * -100%;
      }
    }
  }
}

// GLAMpage

.glam-page {

  font-family: sans-serif;
  color: $c-text;
  font-size: $font-size;
  line-height: $line-height-wide;

  &,
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }


  a {
    color: $c-primary;

    &:not(:hover) {
      text-decoration: none;
    }

    .external {
      background-image: none;
      margin-right: 0;

      &::after {
        content: ' ›';
      }
    }
  }

  .glam-button {
    font-family: sans-serif;
  }

  .mw-ui-button,
  .mw-ui-button.mw-ui-progressive,
  .mw-ui-button:hover,
  .mw-ui-button.mw-ui-progressive:hover {
    background-color: $c-black;
    border-color: $c-black;
    font-weight: 400;
    font-family: sans-serif;
  }

  p {
    margin: .7em 0;
  }

  h2,
  h3,
  h4,
  h5 {
    font-family: $font-serif;
    color: $c-primary;
    line-height: $line-height-narrow;
    border-bottom: none;

    .section-links {
      display: none;
    }

    &:first-child {
      margin-top: 0;
    }
  }

  h2 {
    font-size: pxToRem(30px);
  }

  body.skin-vector-legacy & {
    margin-top: pxToRem(-42px);
  }

  body.skin-minerva & {
    z-index: 2;
    margin-top: pxToRem(-83px);
  }

  .glam-section {

    body:not(.skin-vector-legacy) &:not(.glam-header) {
      padding: 0 calc(.7rem + 3vw);
    }

    body.skin-minerva & {
      margin-left: calc((100% - 100vw) / 2);
      margin-right: calc((100% - 100vw) / 2);
    }

    &.bg-grey,
    &.glam-header {
      background-color: $c-bg;
    }

    &.bg-grey {
      padding-top: pxToRem(30px);
      padding-bottom: pxToRem(30px);
      overflow: hidden;
    }

    >.inner {
      margin: pxToRem(50px) auto;

      &:not(.wide) {
        max-width: $col-width;
      }
    }

    &.bg-grey+.glam-section.bg-grey {
      margin-top: pxToRem(-50px);
      padding-top: 0;

      >.inner {
        margin-top: 0;
      }
    }

  }

  .glam-header {
    >.inner {
      background-color: $c-primary;
      font-family: $font-serif;
      position: relative;
      overflow: hidden;
      font-size: $font-size-big;

      h2,
      h3,
      h4,
      h5 {
        font-family: $font-sans;
        color: $c-white;
      }

      &,
      a {
        color: $c-white;
      }
    }

    &-logo {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      z-index: 2;
      padding: 1em;

      >a {
        display: block;

        >img {
          width: pxToRem(130px);
          height: auto;
        }
      }

      @include color-sections(false, 45deg, 39deg)
    }

    &-slide-container {
      display: flex;
      width: 100%;
    }

    &-slide {
      background-color: $c-primary;
      overflow: hidden;
      position: relative;
      flex: 0 0 100%;

      >.slide-image {
        display: block;
        overflow: hidden;

        >a {
          display: block;
          min-height: pxToRem(474px);
          width: 100%;

          >img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
          }
        }
      }

      >.inner {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;

        z-index: 1;

        padding: 2em;

        width: 100%;
        max-width: pxToRem(350px);
        text-align: right;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        @include color-sections(true);
      }
    }

    .glam-slide-dragger {
      order: -1;
      flex: 0 0 0;
      background-color: #0F0;
      animation-iteration-count: infinite;
      //animation-direction: alternate;

      @for $i from 1 through $slide-max {
        &:nth-child(#{$i + 1}) {
          //margin-left: ($i - 1) * -100%;
          animation-name: slide-dragger-ani-#{$i};
          animation-duration: $i * $slide-duration;
        }
      }
    }
  }

  .glam-logos {
    text-align: center;
  }

  .glam-logo {
    display: inline-block;
    vertical-align: middle;
    margin: 1em;
    transition: all .3s ease-in-out;

    &:not(:hover) {
      transform: scale(.89);
    }
  }


  .glam-circle {
    text-align: center;
    line-height: $line-height-narrow;

    >* {
      margin: 0 auto 1em;
    }

    >.glam-circle-image {
      width: 80%;
    }

    &-image {
      width: 100%;

      display: block;
      overflow: hidden;
      position: relative;
      overflow: hidden;
      border-radius: 50%;
      background-color: $c-bg;


      >a {
        display: block;
        padding: 100% 0 0;
        width: 100%;

        >img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);

          min-height: 100%;
          height: 100%;
          width: auto;
        }
      }
    }
  }

  .glam-intro {
    font-size: $font-size-big;
  }

  .glam-row,
  .glam-row-3 {
    display: flex;
    flex-wrap: wrap;
  }


  .glam-row>.glam-col {
    flex: 1 1 100%;
    margin-bottom: $gutter;

    @media (min-width:500px) {
      &.marginal {
        flex: 1 1 30%;
        margin-left: $gutter;
      }
    }
  }

  // Styling MediaWiki Elements

  .gallery {
    &.mw-gallery-packed {
      margin-left: 0;
      margin-right: 0;

      display: flex;
      flex-wrap: wrap;

      li,
      div {
        //width: auto!important;
        //display: block;
      }

      .gallerybox {
        .gallerytext {
          line-height: $line-height-narrow;
          text-align: left;

          >:first-child {
            margin-top: 0;
          }
        }
      }
    }
  }
}

.glam-infoline {
  font-size: $font-size;
  line-height: 1.1;

  >span {
    display: inline-block;
    overflow: hidden;
    padding: .4em 5em .4em .7em;
    color: $c-white;
    position: relative;

    &::before,
    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: $c-primary;

      transform-origin: 0 0;
      transform: translateX(-3em) skew(-30deg);

      z-index: -1;
    }

    &::after {
      transform: skew(-60deg);
      opacity: $c-opacity;
    }
  }


  &+h2,
  &+h3 {
    margin-top: 0;
  }
}

// Table

.glam-info-table {

  &,
  tbody,
  tr,
  td,
  th {
    display: block;
    width: 100%;
    border: none;
  }

  tr {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0;
    border-top: 1px solid $c-bg;

    .glam-section.bg-grey & {
      border-color: $c-white;
    }

    &>td,
    &>th {
      padding: .5em 0;
      line-height: $line-height-narrow;
      width: auto;

      &:last-child:not(:first-child) {
        font-weight: bold;
        text-align: right;
        margin-left: 1em;
      }

      &:last-child:first-child {
        flex: 0 0 100%;
      }

      div.glam-logo {
        margin: .5em auto;
        display: block;
        text-align: center;
      }

    }
  }
}

.glam-calendar-mini {
  line-height: $line-height-narrow;
  padding: 0;
  margin: 0;

  tr {
    padding: 0;

    td,
    th {
      padding: .5em 0;
      border-top: 1px solid $c-bg;

      .glam-section.bg-grey & {
        border-color: $c-white;
      }

      &:first-child {
        padding-right: 1em;

        br {
          display: none;
        }
      }
    }
  }
}

// Grid

.glam-grid-2 {
  grid-template-columns: repeat(2, 1fr);
}

.glam-grid-marginal {
  grid-template-columns: 2fr 1fr;
}

.glam-grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

.glam-grid-4 {
  grid-template-columns: repeat(4, 1fr);
}

.glam-grid-6 {
  grid-template-columns: repeat(6, 1fr);
}

.glam-grid-12 {
  grid-template-columns: repeat(12, 1fr);
}

.glam-grid-2,
.glam-grid-marginal,
.glam-grid-3,
.glam-grid-4,
.glam-grid-6,
.glam-grid-12 {
  display: grid;
  grid-gap: $gutter;

  @media (max-width: 600px) {
    grid-template-columns: 1fr;
  }

  body.skin-vector-legacy & {
    @media (max-width: #{600px + $col-vector-margin}) {
      grid-template-columns: 1fr;
    }
  }

}