// Animations

@for $i from 2 through $slide-max {

  @keyframes slide-dragger-ani-#{$i} {
    @for $j from 0 through ($i - 1) {
      #{ ($j / $i) * 100% } {
        margin-left: ($j) * -100%;
      }

      #{ (($j + .8) / $i) * 100% } {
        margin-left: ($j) * -100%;
      }
    }
  }
}


// GLAMpage
.glam-page {

  // Generate color classes
  @each $c-name,
  $c-value in $c {
    .c-#{$c-name} {
      color: $c-value;
    }

    .bg-#{$c-name} {
      background-color: $c-value;
      color: $c-white;
    }
  }

  .box {
    padding: 1em;
  }

  .c-primary {
    color: $c-primary;
  }

  .bg-primary {
    background-color: $c-primary;
    color: $c-white;
  }

  font-family: sans-serif;
  color: $c-text;
  font-size: $font-size;
  line-height: $line-height-wide;

  &,
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }


  a {
    color: $c-primary;

    &:not(:hover) {
      text-decoration: none;
    }

    .external {
      background-image: none;
      margin-right: 0;

      &::after {
        content: ' ›';
      }
    }
  }

  .glam-button {
    font-family: sans-serif;
  }

  .mw-ui-button,
  .mw-ui-button.mw-ui-progressive,
  .mw-ui-button:hover,
  .mw-ui-button.mw-ui-progressive:hover {
    background-color: $c-black;
    border-color: $c-black;
    font-weight: 400;
    font-family: sans-serif;
  }

  p {
    margin: .7em 0;
  }

  h2,
  h3,
  h4,
  h5 {
    font-family: $font-serif;
    color: $c-primary;
    line-height: $line-height-narrow;
    border-bottom: none;
    font-weight: normal;
    font-size: 1.25rem;

    .section-links {
      display: none;
    }

    &:first-child {
      margin-top: 0;
    }
  }

  h2 {
    font-size: pxToRem(30px);
  }

  h3{    
    font-size: 1.5rem;
  }

  body.skin-vector-legacy & {
    margin-top: pxToRem(-42px);
  }

  body.skin-minerva & {
    z-index: 2;
    margin-top: pxToRem(-83px);
  }

  .glam-section {

    body:not(.skin-vector-legacy) &:not(.glam-header) {
      padding: 0 calc(.7rem + 3vw);
    }

    body.skin-minerva & {
      margin-left: calc((100% - 100vw) / 2);
      margin-right: calc((100% - 100vw) / 2);
    }

    &.bg-grey,
    &.glam-header {
      background-color: $c-bg;
    }

    &.bg-grey {
      padding-top: pxToRem(30px);
      padding-bottom: pxToRem(30px);
      overflow: hidden;
    }

    >.inner {
      margin: pxToRem(50px) auto;

      &:not(.wide) {
        max-width: $col-width;
      }
    }

    &.bg-grey+.glam-section.bg-grey {
      margin-top: pxToRem(-50px);
      padding-top: 0;

      >.inner {
        margin-top: 0;
      }
    }

  }

  .glam-header {
    >.inner {
      position: relative;

      &:not(.glam-navi-inner) {
        overflow: hidden;
      }
    }

    &-logo {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      z-index: 2;
      padding: 1em;

      >a {
        display: inline-block;
        position: relative;

        >img {
          display: block;
          width: pxToRem(130px);
          height: auto;

          @media screen and (max-width:600px) {
            width: calc(6vw + 5rem);
          }
        }

        @include bg-blocks() {
          background-color: $c-primary;
          transform-origin: 100% 12.5%;

          top: -100%;
          right: -66%;
          bottom: -600%;
          left: -300%;

          animation-name: slideOpenLeft;
        }

        &::before {
          animation-duration: 1.2s;
          animation-delay: .4s;
          transform: rotate(45deg);
        }

        &::after {
          animation-delay: .8s;
          opacity: $c-opacity;
          transform: translateX(1em) rotate(39deg);
        }
      }
    }

    &-slide-container {
      display: flex;
      width: 100%;
      background-color: $c-primary;
      font-family: $font-serif;
      overflow: hidden;
      font-size: $font-size-big;
      min-height: 12rem;

      h2,
      h3,
      h4,
      h5,
      h6 {
        font-family: $font-sans;
        color: $c-white;
        font-size: 1.875rem;
      }

      &,
      a {
        color: $c-white;
      }
    }

    &-slide {
      background-color: $c-primary;
      overflow: hidden;
      position: relative;
      flex: 0 0 100%;

      >.slide-image {
        display: block;
        overflow: hidden;
        position: relative;

        >a {
          display: block;
          height: calc(16rem + 26vw);
          max-height: pxToRem(474px);
          width: 100%;

          >img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            object-fit: cover;

            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
          }
        }
      }

      >.inner {
        position: relative;
        padding: 2em;
        padding-top: 0;
        z-index: 1;

        width: 100%;

        display: flex;
        flex-direction: column;

        text-align: center;

        @include bg-blocks() {
          background-color: $c-primary;
          animation-name: slideOpenRight;

          transform-origin: 33% 0;
          top: 0;
          left: -100%;
          bottom: -100%;
          right: -100%;
        }

        &::before {
          animation-duration: 1.2s;
          animation-delay: .4s;
          transform: rotate(-10deg);
        }

        &::after {
          animation-delay: .8s;
          opacity: $c-opacity;
          transform: translateY(-.7em) rotate(-16deg);
        }

        @media screen and (min-width:#{640px + $col-vector-margin}) {
          position: absolute;
          right: 0;
          top: 0;
          bottom: 0;
          max-width: pxToRem(350px);
          text-align: right;
          justify-content: flex-end;
          padding-top: 2em;

          &::after,
          &::before {
            transform-origin: 0 20%;
            top: -100%;
            bottom: -300%;
            right: -300%;
            left: 33%;
          }

          &::before {
            transform: rotate(20deg);
          }

          &::after {
            transform: translateX(-1em) rotate(30deg);
          }
        }

        body:not(.skin-vector-legacy) & {
          @media screen and (min-width:640px) {
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            max-width: pxToRem(350px);
            text-align: right;
            justify-content: flex-end;
            padding-top: 2em;

            &::after,
            &::before {
              transform-origin: 0 20%;
              top: -100%;
              bottom: -300%;
              right: -300%;
              left: 33%;
            }

            &::before {
              transform: rotate(20deg);
            }

            &::after {
              transform: translateX(-1em) rotate(30deg);
            }
          }
        }
      }
    }

    &-text {
      max-width: 40rem;
      text-align: right;
      padding: 2em;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      margin-left: auto;
      width: calc(100% - 7rem);
    }
  }

  .glam-navi {
    position: absolute;
    top: 0;
    font-size: $font-size;
    line-height: $line-height-narrow;
    padding: .5rem 1rem;

    >a {
      // Root ausblenden
      display: none;
    }

    &-anchor {
      position: fixed;
      top: 0;
    }

    &-off {
      display: none;

      >a {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: block;
      }
    }

    ul,
    ol,
    li {
      list-style-type: none;
      list-style-image: none;
      padding: 0;
      margin: 0;

      &.active>a,
      .glam-nav-active>a {
        color: currentColor;
      }
    }

    li {
      margin-top: .5rem;

      &.label {
        >:not(ul) {
          opacity: $c-opacity-text;
        }
      }
    }

    &-inner {
      position: relative;
      z-index: 4;
      margin-top: 0;
      margin-bottom: 0;



      .glam-navi-trigger {
        position: absolute;
        right: 1rem;
        top: 1rem;
        z-index: 3;

        >a {
          padding: 1rem;
          box-sizing: content-box;

          &:last-child {
            @include cover-parent();
            display: none;
          }

          &:first-child {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            font-size: 1.8rem;
            width: 1em;
            height: 1em;
            background-color: transparent;

            &::before,
            &::after,
            >span {
              content: '';
              display: block;
              width: 100%;
              height: .16em;
              background-color: $c-white;
              box-shadow: 0 0 .3em rgba(0, 0, 0, .7);
              transition: all .5s;
            }
          }
        }
      }
    }

    $navi-breakpoint: 1700px;

    @media screen and (min-width:$navi-breakpoint) {
      right: 100%;
      width: 25%;
      text-align: right;

      &-inner {
        .glam-navi-trigger {
          display: none;
        }
      }

      >a {
        display: none;
      }

      >ul>li {

        &:not(.active)>ul {
          display: none;
        }

        &>ul {
          position: absolute;
          top: 0;
          left: 500%;
          right: -500%;
          display: block;
          padding: .5rem 1rem;
          text-align: left;

          >li {
            >ul {
              padding-right: 1rem;
            }
          }
        }
      }
    }



    @media screen and (max-width:660px) {
      left: 0;
    }

    @media screen and (max-width:#{$navi-breakpoint - .1px}) {
      background-color: $c-black;
      min-width: 20rem;
      padding: .5rem 5%;

      //left: 0;
      right: 0;
      overflow: hidden;
      text-align: left;
      transition: max-height .6s, padding .6s;
      color: $c-white;
      font-size: $font-size-big;

      max-height: 100rem;

      >ul>li {
        //border-top: 1px solid rgba($color: $c-bg, $alpha: .5);
        padding: .5em 0;
        margin: 0;
      }

      li {
        &.label {
          display: none;
        }

        >* {
          display: block;
        }

        li>:not(ul) {
          padding-left: 1em;
        }

        li li>:not(ul) {
          padding-left: 2em;
        }
      }

      &-anchor:not(:target)~.glam-navi {
        max-height: 0;
        padding-top: 0;
        padding-bottom: 0;
      }

      &-anchor:target {
        &~.glam-navi {
          padding-top: 2em;
          padding-bottom: 2em;
        }

        &~.glam-navi-trigger {
          &>a:last-child {
            display: block;
          }

          &>a:first-child {
            &::before {
              transform: translateY(.42em) rotate(45deg);
            }

            &>span {
              transform: rotate(45deg);
            }

            &::after {
              transform: translateY(-.42em) rotate(-45deg);
              box-shadow: none;
            }
          }

        }

        .glam-navi-off {
          display: block;
        }
      }
    }
  }

  .glam-slide-dragger {
    order: -1;
    flex: 0 0 0;
    background-color: #0F0;
    animation-iteration-count: infinite;
    //animation-direction: alternate;

    @for $i from 1 through $slide-max {
      &:nth-child(#{$i + 1}) {
        //margin-left: ($i - 1) * -100%;
        animation-name: slide-dragger-ani-#{$i};
        animation-duration: $i * $slide-duration;
      }
    }
  }

  .toc.toc {
    border: none;
    background-color: transparent;
    display: block;
    padding: 0;

    >ul {
      margin: 0;
      padding: 0;
      font-size: $font-size;
      line-height: $line-height-narrow;

      >li {
        padding: .5em 0;
        border-top: 1px solid $c-bg;
        position: relative;
        //padding-left: 1.2em;

        &::before {
          content: "";
          position: absolute;
          right: calc(100% + .6em);
          top: .7em;
          display: block;
          width: .6em;
          height: .6em;
          border: 2px solid currentColor;
          opacity: $c-opacity-text;
          border-bottom: transparent;
          border-right: transparent;
          transform: rotate(225deg);
        }
      }
    }

    body:not(.skin-minerva) & {
      .toctitle {
        padding: 0;
        display: flex;

        h2 {
          font-size: $font-size;
          color: currentColor;
          font-family: sans-serif;
          font-weight: 400;
          opacity: $c-opacity-text;

          &::after {
            content: ':';
          }
        }

        >* {
          position: relative;

          &:last-child {
            margin-left: auto;
          }
        }

        .toctogglespan {


          &::before,
          &::after {
            content: none;
          }

          .toctogglelabel {
            &::after {
              content: "";
              display: block;
              border: 2px solid currentColor;
              opacity: $c-opacity-text;
              border-bottom: transparent;
              border-right: transparent;
              transform: translateY(.5em) rotate(45deg);
              transform-origin: 33% 33%;
              transition: all .5s;
              width: 1em;
              height: 1em;
            }
          }
        }
      }
    }

    .toctogglecheckbox:checked+.toctitle .toctogglelabel::after {
      content: "";
      transform: translateY(.5em) rotate(-135deg);
    }

    .tocnumber {
      display: none;
    }

  }
}

.glam-logos {
  text-align: center;
}

.glam-logo {
  display: inline-block;
  vertical-align: middle;
  margin: 1em;
  transition: all .3s ease-in-out;

  &:not(:hover) {
    transform: scale(.89);
  }
}

.glam-circle {
  text-align: center;
  line-height: $line-height-narrow;

  >* {
    margin: 0 auto 1em;
  }

  >.glam-circle-image {
    width: 80%;
  }

  &-image {
    width: 100%;

    display: block;
    overflow: hidden;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    background-color: $c-bg;


    >a {
      display: block;
      padding: 100% 0 0;
      width: 100%;

      >img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        object-fit: cover;

        min-height: 100%;
        height: 100%;
        width: auto;
      }
    }
  }
}

.glam-intro {
  font-size: $font-size-big;
}

// Styling MediaWiki Elements

.gallery {
  &.mw-gallery-packed {
    margin-left: 0;
    margin-right: 0;

    display: flex;
    flex-wrap: wrap;

    .gallerybox {
      .gallerytext {
        line-height: $line-height-narrow;
        text-align: left;

        >:first-child {
          margin-top: 0;
        }
      }
    }
  }
}

.glam-infoline {
  font-size: $font-size;
  line-height: 1.1;

  >span {
    display: inline-block;
    overflow: hidden;
    padding: .4em 5em .4em .7em;
    color: $c-white;
    position: relative;

    &::before,
    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: $c-primary;

      transform-origin: 0 0;
      transform: translateX(-3em) skew(-30deg);

      z-index: -1;
    }

    &::after {
      transform: skew(-60deg);
      opacity: $c-opacity;
    }
  }


  &+h2,
  &+h3 {
    margin-top: 0;
  }
}

// Table

.glam-info-table {

  &,
  tbody,
  tr,
  td,
  th {
    display: block;
    width: 100%;
    border: none;
  }

  tr {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0;
    border-top: 1px solid $c-bg;

    .glam-section.bg-grey & {
      border-color: $c-white;
    }

    &>td,
    &>th {
      padding: .5em 0;
      line-height: $line-height-narrow;
      width: auto;

      &:last-child:not(:first-child) {
        font-weight: bold;
        text-align: right;
        margin-left: 1em;
      }

      &:last-child:first-child {
        flex: 0 0 100%;
      }

      div.glam-logo {
        margin: .5em auto;
        display: block;
        text-align: center;
      }

    }
  }
}

.glam-calendar-mini {
  line-height: $line-height-narrow;
  padding: 0;
  margin: 0;

  tr {
    padding: 0;

    td,
    th {
      padding: .5em 0;
      border-top: 1px solid $c-bg;

      .glam-section.bg-grey & {
        border-color: $c-white;
      }

      &:first-child {
        padding-right: 1em;

        br {
          display: none;
        }
      }
    }
  }
}

// Grid

.glam-grid-2 {
  grid-template-columns: repeat(2, 1fr);
}

.glam-grid-marginal {
  grid-template-columns: 2fr 1fr;
}

.glam-grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

.glam-grid-4 {
  grid-template-columns: repeat(4, 1fr);
}

.glam-grid-6 {
  grid-template-columns: repeat(6, 1fr);
}

.glam-grid-12 {
  grid-template-columns: repeat(12, 1fr);
}

.glam-grid-2,
.glam-grid-marginal,
.glam-grid-3,
.glam-grid-4,
.glam-grid-6,
.glam-grid-12 {
  display: grid;
  grid-gap: $gutter;

  @media (max-width: 600px) {
    grid-template-columns: 1fr;
  }

  body.skin-vector-legacy & {
    @media (max-width: #{600px + $col-vector-margin}) {
      grid-template-columns: 1fr;
    }
  }

}